<div class="container startup-details">
  <!-- Detalhes da Startup -->
  <div class="row">
    <div class="col-md-6">
      <img [src]="startup?.imagemUrl || 'assets/logo.jpg'" alt="Imagem da Startup" class="img-animal">
    </div>
    <div class="col-md-6">
      <h1>{{ startup?.nome }}</h1>
      <p class="info-text">setor {{ startup?.setor }}</p>
      <p class="info-text">oferece {{ startup?.percentualDisponivel }}%</p>
      <p class="info-text">Meta R$ {{ startup?.valorProcurado | number:'1.2-2' }}</p>
      <p>Descrição: {{ startup?.descricao }}</p>

      <button class="btn btn-apoio btn-lg btn-block" (click)="apoiarProjeto()">Apoiar este projeto</button>
      <p class="info-text mt-2">Você pode apoiar este projeto até o dia {{ startup?.dataFinal }}</p>
    </div>
  </div>
</div>
