<div class="container startup-details">
  <!-- Detalhes da Startup -->
  <div class="row">
    <div class="col-md-6">
      <img [src]="startup?.imagemUrl || 'assets/logo.jpg'" alt="Imagem da Startup" class="img-animal">
    </div>
    <div class="col-md-6">
      <h1>{{ startup?.nome }}</h1>
      <p class="info-text">Setor: {{ startup?.setor }}</p>
      <p class="info-text">Oferece: {{ startup?.percentualDisponivel }}%</p>
      <p class="info-text">Meta: R$ {{ startup?.valorProcurado | number:'1.2-2' }}</p>
      <p>Descrição: {{ startup?.descricao }}</p>

      <!-- Ícone de telefone com estilo personalizado -->
      <button mat-icon-button class="contact-icon" (click)="contatoWpp()" aria-label="Entrar em contato" matTooltip="Entrar em contato para mais detalhes">
        <mat-icon>phone</mat-icon>
      </button>

      <!-- Botão principal de apoio -->
      <button class="btn btn-apoio btn-lg btn-block" (click)="apoiarProjeto()">Investir neste projeto</button>
    </div>
  </div>
</div>
